<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  
    <extension point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="true"
          class="org.eclipse.cft.server.standalone.internal.ui.ProjectExplorerMenuFactory"
          locationURI="popup:org.eclipse.ui.projectConfigure?endof=additions">
    </menuContribution>
	</extension>
	
    <extension
          point="org.eclipse.cft.server.ui.applicationWizard">
       <applicationWizardDelegate
             class="org.eclipse.cft.server.standalone.ui.internal.ui.StandaloneApplicationWizardDelegate"
             providerID="org.eclipse.cft.server.application.standalone">
       </applicationWizardDelegate>
    </extension>
    
    <extension
          point="org.eclipse.cft.server.standalone.core.archiverDelegate">
       <archiver
             class="org.eclipse.cft.server.standalone.ui.internal.application.JavaCloudFoundryArchiver">
       </archiver>
    </extension>

</plugin>
